{% extends 'base/base.html' %}

{% block title %}Register Page{% endblock %}

{% block content %}
    <div class="container-fluid px-4 px-md-5 py-4 py-md-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card mt-5 mb-3 shadow-lg p-4 p-md-5">
                    <h4 class="text-center text-secondary logo">Register</h4>
                    <br>

                    <form action="{% url 'sign up' %}" method="post" class="form-floating">
                        {% csrf_token %}

                        <input type="hidden" value="{{ next }}" name="next">

                        {% for field in form %}
                            <div class="form-floating mb-3">

                                <input type="{{ field.field.widget.input_type }}"
                                       class="form-control
                                        {% if field.errors %}
                                       is-invalid
                                        {% endif %}"
                                       id="{{ field.id_for_label }}"
                                       name="{{ field.html_name }}"
                                        {% if field.field.required %}
                                       required
                                        {% endif %}
                                        {% if field.value %}
                                       value="{{ field.value }}"
                                        {% endif %}
                                       placeholder="{{ field.label }}">

                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <small class="form-text text-muted">{{ field.field.help_text }}</small>

                                {% if field.errors %}

                                    {% for error in field.errors %}
                                        <div class="invalid-feedback mt-3">
                                            {{ error }}
                                        </div>
                                    {% endfor %}

                                {% endif %}
                            </div>
                        {% endfor %}

                        <br>
                        <button type="submit" class="btn btn-outline-success">Register</button>
                    </form>

                    <br>
                    <div class="form-text text-start">Have an account?
                        <a href="{% url 'sign in' %}" class="text-decoration-none">Sing In</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}