{% load static %}
<section id="questions" class="p-4 bg-dark-subtle">
    <div class="container-fluid p-3">
        <h2 class="text-center mb-4 pb-5">Frequently Asked Questions</h2>

        <div class="accordion accordion-flush mx-auto shadow-lg" id="questions">

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-one"
                            aria-expanded="false"
                            aria-controls="question-one">
                        <span>I'm completely new to programming. Is Python a good language for me to start with?</span>
                    </button>
                </h2>
                <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        <p>
                            Yes, Python is an excellent language for beginners who are just starting to learn
                            programming. Python's syntax is relatively easy to read and understand, making it
                            less
                            intimidating for new programmers. Additionally, Python has a wide variety of
                            applications,
                            from web development and data analysis to artificial intelligence and machine
                            learning. This
                            makes it a versatile language to learn, and it's one that is in high demand in many
                            industries. Finally, Python has a large and active community of developers, which
                            means that
                            there are plenty of resources and support available to new learners.
                        </p>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-three"
                            aria-expanded="false"
                            aria-controls="question-three">
                        <span>How long does it take to complete the Python course?</span>
                    </button>
                </h2>
                <div id="question-three" class="accordion-collapse collapse"
                     data-bs-parent="#questions">
                    <div class="accordion-body">
                        <p>
                            Typically, students who are able to commit around 5-10 hours per week to studying
                            and
                            practicing Python are able to complete our beginner courses within 2-3 months. Our
                            courses
                            are self-paced, so you can learn at your own speed and on your own schedule. We'll
                            teach
                            you the fundamental concepts of programming such as variables, data types, and
                            control
                            structures, and how to apply them in Python.
                        </p>
                        <p>
                            Overall, the key to success in learning Python is to stay motivated, practice
                            regularly,
                            and take advantage of the resources available to you. With our beginner-friendly
                            Python
                            courses, you'll be on your way to becoming a proficient Python programmer in no
                            time!
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-four"
                            aria-expanded="false"
                            aria-controls="question-four">
                        <span>Can I start a job with the knowledge gained from these Python courses?</span>
                    </button>
                </h2>
                <div id="question-four" class="accordion-collapse collapse"
                     data-bs-parent="#questions">
                    <div class="accordion-body">
                        <p>
                            Absolutely! By completing our Python courses, you'll gain valuable knowledge and
                            skills that
                            can open doors to various job opportunities. Python is widely used in different
                            industries,
                            such as web development, data analysis, machine learning, scientific research, and
                            more.
                            With a solid understanding of Python, you'll have a strong foundation to start your
                            career in
                            these fields.
                        </p>
                        <p>
                            So, while Python knowledge is a valuable asset, it's beneficial to continuously
                            learn,
                            explore related technologies, and gain practical experience through projects or
                            internships.
                            With dedication, enthusiasm, and a sprinkle of passion, you'll be well-equipped to
                            embark on
                            a Python-powered career journey. Good luck, and may your Python adventures lead you
                            to
                            exciting job opportunities!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>


