{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SnakeScholars</title>
    <link rel="stylesheet" href="{% static 'css/new_user_greetings.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to SnakeScholars</h1>
        <p>Hello <strong>{{ user.username }}</strong>,</p>
        <p>We are excited to have you on board at SnakeScholars!</p>
        <p>Explore the wonderful world of Python programming with us.</p>
        <p>Get started on your Python journey now!</p>
        <p>Happy coding!</p>
    </div>
</body>
</html>
