{% extends 'base/base.html' %}
{% load static %}
{% block title %}404{% endblock %}

{% block content %}

    <div class="container mt-3">
        <a class="btn" href="{% url 'home' %}">
            <img class="responsive-image" src="{% static 'images/404.png' %}" alt="error">
        </a>
    </div>
    <div class="container">
        <h1>Page Not Found</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
        <a class="btn" href="{% url 'home' %}">
            <img class="responsive-image" src="{% static 'images/404.png' %}" alt="error">
        </a>
    </div>


{% endblock %}

{% block css %}
    <style>

        .responsive-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        @media (max-width: 600px) {
            .container {
                padding: 2.5%;
            }

            .responsive-image {
                width: 90%;
            }
        }

        @media (max-width: 1200px) {
            .responsive-image {
                width: 80%;
                height: auto;
                margin: 0 auto;
            }
        }

        @media (min-width: 1201px) and (max-width: 2000px) {
            .responsive-image {
                width: 60%;
                height: auto;
                margin: 0 auto;
            }
        }

        @media (min-width: 2001px) {
            .responsive-image {
                width: 40%;
                height: auto;
                margin: 0 auto;
            }
        }
    </style>
{% endblock %}